In [5]:
import pandas as pd
import numpy as np

In [ ]:
'''
spring runs from March 1 to May 31;
summer runs from June 1 to August 31;
fall (autumn) runs from September 1 to November 30; and
winter runs from December 1 to February 28 (February 29 in a leap year).

'''

In [16]:
#data = {"Attr":["temp","water","soil","season","region"],"wheat":[[15,20],"medium",[ "drained loamy"," clayey ","black" ],"fall",["Uttar Pradesh","Punjab ", "Madhya Pradesh", "Haryana", "Rajasthan", "Bihar", "Gujarat", "Maharashtra", "West Bengal", "Uttarakhand"]]}

data =pd.read_csv('crop_attr.csv')
data

,Attr,wheat,pearl millet,maize
0,temp,"[15, 20]","['25', '30']","['21', '25']"
1,water,medium,small,medium
2,soil,"['drained loamy', ' clayey ', 'black']","['sandy', ' shallow black']","['alluvial', 'drained red', 'mountainous']"
3,season,fall,early spring,early summer
4,region,"['Uttar Pradesh', 'Punjab ', 'Madhya Pradesh',...","['Uttar Pradesh', ' Maharashtra', ' Gujarat', ...","['Karnataka', ' Uttar Pradesh', ' Bihar', ' Ra..."

In [7]:
def addition(name):
    d={}
    d[0]=[input("enter the temperature range") for i in range(2)]
    d[1]=input("enter the water requirment in small medim or high amount")
    d[3]=input("enter the season sown")
    d[2]=[item for item in input("Enter the soil type : ").split(",")]
    d[4]=[item for item in input("Enter the region : ").split(",")]
    data[str(name)] = pd.Series(d)
    print(data)

In [10]:
addition("maize")

enter the temperature range21
enter the temperature range25
enter the water requirment in small medim or high amountmedium
enter the season sownearly summer
Enter the soil type : alluvial,drained red,mountainous
Enter the region : Karnataka, Uttar Pradesh, Bihar, Rajasthan ,Andhra Pradesh
     Attr                                              wheat  \
0    temp                                           [15, 20]
1   water                                             medium
2    soil                   [drained loamy,  clayey , black]
3  season                                               fall
4  region  [Uttar Pradesh, Punjab , Madhya Pradesh, Harya...

                                        pearl millet  \
0                                           [25, 30]
1                                              small
2                            [sandy,  shallow black]
3                                       early spring
4  [Uttar Pradesh,  Maharashtra,  Gujarat,  Haryana]

                                               maize
0                                           [21, 25]
1                                             medium
2               [alluvial, drained red, mountainous]
3                                       early summer
4  [Karnataka,  Uttar Pradesh,  Bihar,  Rajasthan...

In [11]:
data

,Attr,wheat,pearl millet,maize
0,temp,"[15, 20]","[25, 30]","[21, 25]"
1,water,medium,small,medium
2,soil,"[drained loamy, clayey , black]","[sandy, shallow black]","[alluvial, drained red, mountainous]"
3,season,fall,early spring,early summer
4,region,"[Uttar Pradesh, Punjab , Madhya Pradesh, Harya...","[Uttar Pradesh, Maharashtra, Gujarat, Haryana]","[Karnataka, Uttar Pradesh, Bihar, Rajasthan..."

In [14]:
data.to_csv('crop_attr.csv', index=False)